/* LoginAndRegister.css */

.login-and-signin-container {
      max-width: 392px;
      margin: 0 auto;
      padding: 30px;
      background-color:transparent;
      border: 1px solid #ccc;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      position: relative;
      top: 200px;
      height: 470px;
      margin-bottom: 450px;
}

.login-and-signin-container label {
      display: block;
      margin-bottom: 10px;
      font-size: 20px;
     
}

.login-and-signin-container input {
      width: 96%;
      padding: 10px;
      margin-bottom: 55px;
      border: 1px solid #ccc;
      border-radius: 4px;
}

.login-and-signin {
      width: 39%;
      padding: 12px;
      background-color: #3d9dc9;
      color: #060606;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s;
      position: relative;
      left: 117px;
      
}

.login-and-signin:hover {
      background-color: #c3b76e;
}


/* Add this style for .next button */
.change-view-login {
      background: transparent;
      width: 82%;
      padding: 12px;
      color: #3498db;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
      transition: color 0.3s;
      text-decoration: underline;
      position: relative;
      left: 33px;
      top: 12px;
  }

.change-view:hover {
      color: #007bb5;
      text-decoration: none;
}





/* ---------------------------------------- */

.signin-container {
      max-width: 392px;
      margin: 0 auto;
      padding: 30px;
      background-color:transparent;
      border: 1px solid #ccc;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      position: relative;
      top: 200px;
      height: 470px;
      margin-bottom: 450px;
}

.signin-container label {
      display: block;
      margin-bottom: 10px;
      position: relative;
      bottom: 13px;
      font-size: 20px;

}

.signin-container input {
      width: 96%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 4px;
}


.signin {
      width: 39%;
      padding: 12px;
      background-color: #3893b7;
      color: #000000;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s;
      position: relative;
      left: 117px;
      bottom: 14px;
  }

.signin:hover {
      background-color: #c3b76e;
}


.change-view-signin {
      background: transparent;
      width: 69%;
      padding: 12px;
      color: #3498db;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
      transition: color 0.3s;
      text-decoration: underline;
      position: relative;
      left: 60px;
      bottom: 8px;
  }

.change-view-signin:hover {
      color: #007bb5;
      text-decoration: none;
}
