.navbar {
  background: #09605f;
  padding: 30px;
  color: white;
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
  height: 16px;
}

 .logo{
  width: 205px;  
  height: auto; 
  margin-top: auto;
  /* margin-left: 1%; */
 }


.stic {
  position: sticky;
  top: 0;
  z-index: 999;
}
.navbar {
  background-color: rgb(105, 171, 189);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  padding: 35px 250px;
  box-shadow: 1px 2px 10px #656569;
  transition: .9s ease-in-out;
}

.navbar:hover {
  background-color: #d3c79b;
}
.navbar {
  cursor: pointer;
  display: flex;
  list-style-type: none;
}

.active {
  color: #096919;
}

@media screen and (max-width: 768px) {
  .Header {
    background-color: rgba(146, 177, 218, 0.7);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 1px 2px 10px #656569;
    transition: .9s ease-in-out;
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    background-color: rgba(146, 177, 218, 0.7);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    box-shadow: 1px 2px 10px #656569;
    transition: .9s ease-in-out;
  }
}